@font-face {
  font-family: "Open Sauce Sans";
  src: url("/fonts/OpenSauceSans-Medium.ttf");
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("/fonts/OpenSauceSans-Bold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("/fonts/OpenSauceSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("/fonts/OpenSauceSans-Light.ttf");
  font-weight: 200;
}